{% extends 'layout.html' %}

{% block content %}

<h2>Edit Employee</h2>

<form method="POST">

<label>Name</label>

<input
type="text"
name="name"
value="{{ employee.name }}"
required>

<label>Email</label>

<input
type="email"
name="email"
value="{{ employee.email }}"
required>

<label>Department</label>

<input
type="text"
name="department"
value="{{ employee.department }}"
required>

<label>Salary</label>

<input
type="number"
name="salary"
value="{{ employee.salary }}"
required>

<button type="submit">

Update Employee

</button>

</form>

{% endblock %}
