{% extends 'layout.html' %}

{% block content %}

<h2>Employee List</h2>

<table>

<tr>

<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Department</th>
<th>Salary</th>
<th>Action</th>

</tr>

{% for employee in employees %}

<tr>

<td>{{ employee.id }}</td>

<td>{{ employee.name }}</td>

<td>{{ employee.email }}</td>

<td>{{ employee.department }}</td>

<td>{{ employee.salary }}</td>

<td>

<a class="edit-btn"
href="{{ url_for('edit', id=employee.id) }}">
Edit
</a>

<a class="delete-btn"
href="{{ url_for('delete', id=employee.id) }}"
onclick="return confirm('Delete this employee?')">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
